.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .productCards {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    .card {
      position: relative;
      width: 250px;
      height: 350px;
      border-radius: 10px;
      overflow: hidden;
      &:hover p {
        transform: translate(-100%);
      }
      img {
        width: 250px;
        height: 350px;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      h3 {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: black;
        padding: 6px;
        border-radius: 10px;
      }
      p {
        width: 250px;
        position: absolute;
        z-index: 2;
        right: -100%;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.637);
        padding: 10px;
        color: white;
        border-radius: 10px;
        transition: all 0.5s;
      }
    }
  }
}
